<div class="container">
  <div class="text-center display-3 mb-3">All Bookings</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Booking ID</th>
        <th scope="col">User Email</th>
        <th scope="col">Created Date</th>
        <th scope="col">Hotel Name</th>
        <th scope="col">Booking Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of displayBookings" (click)="bookingDetailsPage(booking)">
        <th scope="row">{{ booking.id }}</th>
        <td>{{ booking.user.email }}</td>
        <td>{{ booking.createdDate }}</td>
        <td>{{ booking.hotel.name }}</td>
        <td>Rs.{{ booking.totalAmount }}</td>
      </tr>
    </tbody>
  </table>
  <hr class="my-3" />
  <div class="display-4 text-center mb-3">{{ 'Total Earnings: Rs.' + earnings }}</div>
</div>
