img {
  height: 300px;
  object-fit: cover;
  /* object-position: center top; */
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.custom-select {
  flex: 0 0 1;
}

.results-line .lead {
  font-weight: 370;
}

.sidebar {
  height: 98vh;
}
.no-hotels {
  height: 65vh;
}

@media (max-width: 992px) {
  img {
    height: 230px;
  }
}

@media (max-width: 768px) {
  img {
    height: 200px;
  }
}

@media (max-width: 576px) {
  img {
    height: 80vw;
  }
  .no-hotels {
    height: auto;
  }
}

/* @media (max-width: 390px) {
  .no-hotels {
    height: 75vh;
  }
} */

ul.pagination {
  cursor: pointer;
}
