<div class="container">
  <div
    *ngIf="!displayBookings.length"
    class="w-100 no-orders d-flex align-items-center justify-content-center"
  >
    <h3 class="display-3 text-center">You have not made any bookings</h3>
  </div>
  <div *ngIf="displayBookings.length" class="mb-5">
    <div class="lead text-center mb-3">Hello, {{ user.email }} here are your bookings:</div>
    <div *ngFor="let cart of displayBookings; let i = index">
      <h3 class="display-4 text-center">{{ 'Booking ' + (i + 1) }}</h3>
      <div class="card mb-5">
        <div class="card-header text-center">
          {{ cart.hotel.name }}
        </div>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            <div>Booking ID</div>
            <div>
              {{ cart.id }}
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div>Location:</div>
            <div>{{ cart.hotel.location }}</div>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div>Number of Rooms:</div>
            <div>{{ cart.roomsQuantity }}</div>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div>Created Date:</div>
            <div>{{ cart.createdDate }}</div>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div>From Date:</div>
            <div>{{ cart.fromDate }}</div>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div>To Date:</div>
            <div>{{ cart.toDate }}</div>
          </li>
        </ul>
        <div class="card-footer d-flex justify-content-between">
          <div>Total Amount:</div>
          <div>{{ cart.totalAmount | currency : '&#8360;' }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
