<div class="container">
  <h3 class="display-3 text-center mb-5">About Us</h3>
  <div class="card mb-4 lead">
    <ul class="list-group">
      <li class="list-group-item">
        Use user <u>email 'user&#64;gmail.com' </u> and <u>password ‘user1234’</u> to look at
        various features of the website
      </li>
      <li class="list-group-item">
        Devloped a dynamic hotel booking website with Angular frontend and Spring Boot REST API
        backend with microservices architecture where users can browse and/or book from a catalogue
        of hotels.
      </li>
      <li class="list-group-item">
        Deployed SPA on Vercel, microservices on Azure Spring Apps, with Azure SQL as Database.
      </li>
      <li class="list-group-item">
        List of Services Implemented:
        <ul>
          <li>Eureka Server Registry to create a common registry for all the services.</li>
          <li>API Gateway service to route all the request to the respective services.</li>
          <li>
            Booking Service and Hotel Service to handle all the Hotels and Bookings related
            endpoints.
          </li>
          <li>
            Implemented Spring Security with JWT for data integrity and user privacy in Identity
            Service. API Gateway Service and also other services communicates with Identity Service
            for token verification.
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        Customer Experience:
        <ul>
          <li>
            Integrated search bar to search hotels by city (eg. Gurugram, Noida or Chandigarh).
          </li>
          <li>
            Streamlined booking experience with options for selecting a from-date and to-date and
            number of rooms on the hotel details page. Used Reactive Forms to update total amount as
            the user selects these options.
          </li>
          <li>Booking can then be completed by making a payment on the checkout page.</li>
          <li>Implemented Bookings page for tracking previous Bookings.</li>
        </ul>
      </li>
      <li class="list-group-item">
        Admin facing side:
        <ul>
          <li>Facility to add/delete/update any Hotel.</li>
          <li>
            All Bookings page that displays a clickable list of all the bookings placed on the
            website and total Earnings.
          </li>
          <li>Booking Details page that lists all the products and their quantity in the order.</li>
        </ul>
      </li>
      <li class="list-group-item">
        Redeployed the application as a monolith due to prohibitive cost of deploying microservices.
      </li>
    </ul>
  </div>
</div>
